<mat-paginator #paginator1 [pageSizeOptions]="[5, 10, 20, 100]"
    showFirstLastButtons
    aria-label="Cantidad de registros a mostrar">
    </mat-paginator>

    <mat-form-field appearance="legacy" class="input_search">
      <mat-label>Buscar en tabla: </mat-label>
      <input  matInput type="text" [(ngModel)]="texto"  placeholder="Buscar" autocomplete="off" (ngModelChange)="filterTable_ordenesTodas($event)">
    </mat-form-field>

    <table mat-table [dataSource]="dataSource_ordenesTodas"  >

      <ng-container matColumnDef="atencion_id" >
        <th mat-header-cell *matHeaderCellDef> ID Atención </th>
        <td mat-cell *matCellDef="let row"> {{row.atencion_id}}&nbsp;&nbsp;
          <button mat-mini-fab color="primary" matTooltip="Detalles de la atención"
          matTooltipPosition="right" (click)="verDetalleAtencion(row)"><mat-icon>remove_red_eye</mat-icon></button>
        </td>
      </ng-container>



    <ng-container matColumnDef="evento_id" >
      <th mat-header-cell *matHeaderCellDef> ID Macrotarea </th>
      <td mat-cell *matCellDef="let row"> {{row.evento_id}}&nbsp;&nbsp;
        <button  mat-mini-fab color="accent" matTooltip="Detalles de Macrotarea" matTooltipPosition="above"
            (click)="verDetalleEvento(row)">
              <mat-icon>remove_red_eye</mat-icon>
            </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="ticket_id" >
      <th mat-header-cell *matHeaderCellDef> ID Ticket </th>
      <td mat-cell *matCellDef="let row"> {{row.ticket_id}} &nbsp;&nbsp;
        <button mat-mini-fab color="basic" class="success" matTooltip="Detalles del ticket"
        matTooltipPosition="right" (click)="verDetalleTicket(row)"><mat-icon>remove_red_eye</mat-icon></button>

      </td>
    </ng-container>


    <ng-container matColumnDef="id" >
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let row"> {{row.id}}&nbsp;&nbsp;
        <button  mat-mini-fab color="accent" matTooltip="Detalles de la Orden" matTooltipPosition="above" (click)="verDetalleOrden(row)">
          <mat-icon>list</mat-icon>
        </button>
      </td>
    </ng-container>
    <ng-container matColumnDef="solicitud">
      <th mat-header-cell *matHeaderCellDef> Solicitud </th>
      <td mat-cell *matCellDef="let row" class="desc">
        <div class="desc_div">
          {{row.solicitud }}
        </div>
      </td>
    </ng-container>


    <ng-container matColumnDef="fecha_creacionD">
      <th mat-header-cell *matHeaderCellDef> Fecha de Solictud </th>
      <td mat-cell *matCellDef="let row">{{row.fecha_creacionD}} </td>
    </ng-container>

    <ng-container matColumnDef="cliente">
      <th mat-header-cell *matHeaderCellDef> Cliente</th>
      <td mat-cell *matCellDef="let row">{{row.cliente}} </td>
    </ng-container>

    <ng-container matColumnDef="fecha_resolucionD">
      <th mat-header-cell *matHeaderCellDef> Fecha de resolución </th>
      <td mat-cell *matCellDef="let row">{{row.fecha_resolucionD}} </td>
    </ng-container>

    <ng-container matColumnDef="nombresolicitante">
      <th mat-header-cell *matHeaderCellDef> Solicitante </th>
      <td mat-cell *matCellDef="let row"> {{row.nombresolicitante}} {{row.apellidosolicitante}} </td>
    </ng-container>




    <ng-container matColumnDef="aprobTecnica">
      <th mat-header-cell *matHeaderCellDef> Aprob. G. Técnica </th>
      <td mat-cell *matCellDef="let row">
        <div class="pendiente" *ngIf="row.aprobTecnica == 'Pendiente'">Pendiente</div>
        <div class="aprobada" *ngIf="row.aprobTecnica == 'Aprobada'">Aprobada</div>
        <div class="denegada" *ngIf="row.aprobTecnica == 'Denegada'">Denegada</div>

      </td>
    </ng-container>

    <ng-container matColumnDef="aprobVentas">
      <th mat-header-cell *matHeaderCellDef> Aprob. Secundaria </th>
      <td mat-cell *matCellDef="let row">
        <div class="pendiente" *ngIf="row.aprobVentas == 'Pendiente'">Pendiente</div>
        <div class="aprobada"  *ngIf="row.aprobVentas == 'Aprobada'">Aprobada</div>
        <div class="denegada"  *ngIf="row.aprobVentas == 'Denegada'">Denegada</div>
      </td>
    </ng-container>


    <ng-container matColumnDef="aprobGg">
      <th mat-header-cell *matHeaderCellDef> Aprob. G. General </th>
      <td mat-cell *matCellDef="let row">
        <div class="pendiente" *ngIf="row.aprobGg == 'Pendiente'">Pendiente</div>
        <div class="aprobada"  *ngIf="row.aprobGg == 'Aprobada'">Aprobada</div>
        <div class="denegada"  *ngIf="row.aprobGg == 'Denegada'">Denegada</div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
