<mat-tab-group>
  <mat-tab label="Mis Clientes Prospectos y Stakeholders" class="tabs">
    <br><br>



    <h2>Prospectos y stakeholders <button mat-raised-button color="primary" class="btn" (click)="agregarNuevoCliente()"><mat-icon>add</mat-icon> Agregar cliente </button></h2>

    <mat-paginator #paginator1 [pageSizeOptions]="[5, 10, 20, 100]"
                     showFirstLastButtons
                     aria-label="Cantidad de registros a mostrar">
      </mat-paginator>

      <mat-form-field appearance="legacy" class="input_search">
        <mat-label>Buscar en tabla: </mat-label>
        <input  matInput type="text" [(ngModel)]="texto"  placeholder="Buscar" autocomplete="off" (ngModelChange)="filterTable_misClientes($event)">
      </mat-form-field>

    <table mat-table [dataSource]="dataSource"  >

        <ng-container matColumnDef="codigo">
          <th mat-header-cell *matHeaderCellDef> ID </th>
          <td mat-cell *matCellDef="let row"> {{row.codigo}} </td>
        </ng-container>
        <ng-container matColumnDef="nomCategoria">
          <th mat-header-cell *matHeaderCellDef> Categoría </th>
          <td mat-cell *matCellDef="let row"> {{row.nomCategoria }}</td>
        </ng-container>
        <ng-container matColumnDef="nombrecliente">
          <th mat-header-cell *matHeaderCellDef> Cliente </th>
          <td mat-cell *matCellDef="let row"> {{row.nombrecliente}} </td>
        </ng-container>

        <ng-container matColumnDef="direccion">
          <th mat-header-cell *matHeaderCellDef> Direccion </th>
          <td mat-cell *matCellDef="let row"> {{row.direccion}} </td>
        </ng-container>


        <ng-container matColumnDef="Acciones">
          <th mat-header-cell *matHeaderCellDef> Acciones </th>
          <td mat-cell *matCellDef="let row">
            <button mat-mini-fab color="warn" matTooltip="Nueva atención" matTooltipPosition="left"
            (click)="open_modal_atenciones(row)"><mat-icon>notifications</mat-icon></button>
            <button (click)="getClienteByName(row)" mat-mini-fab color="accent" matTooltip="Detalles del cliente" matTooltipPosition="above"><mat-icon>list</mat-icon></button>
            <button (click)="open_modal_contacto(row)" mat-mini-fab color="primary" matTooltip="Nuevo contacto" matTooltipPosition="right"><mat-icon>people</mat-icon></button>
            <button  mat-mini-fab color="warn" matTooltip="Historial del suministro" matTooltipPosition="above" (click)="getHistorialCliente(row)">
              <mat-icon>history</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>





  </mat-tab>


  <mat-tab label="Clientes que otros usuarios me han compartido">

    <br><br>
    <h2>Clientes que otros usuarios me han compartido</h2>
    <mat-paginator  #paginator2 [pageSizeOptions]="[5, 10, 20, 100]"
        showFirstLastButtons
        aria-label="Cantidad de registros a mostrar">
    </mat-paginator>


    <mat-form-field appearance="legacy" class="input_search">
      <mat-label>Buscar en tabla: </mat-label>
      <input  matInput type="text" [(ngModel)]="texto"  placeholder="Buscar" autocomplete="off" (ngModelChange)="filterTable_compartidos($event)">
    </mat-form-field>

      <table mat-table [dataSource]="dataSource1">

        <ng-container matColumnDef="codigo">
          <th mat-header-cell *matHeaderCellDef> ID </th>
          <td mat-cell *matCellDef="let row1"> {{row1.codigo}} </td>
        </ng-container>
        <ng-container matColumnDef="nomCategoria">
          <th mat-header-cell *matHeaderCellDef> Categoría </th>
          <td mat-cell *matCellDef="let row1"> {{row1.nomCategoria }}</td>
        </ng-container>
        <ng-container matColumnDef="nombrecliente">
          <th mat-header-cell *matHeaderCellDef> Cliente </th>
          <td mat-cell *matCellDef="let row1"> {{row1.nombrecliente}} </td>
        </ng-container>

        <ng-container matColumnDef="direccion">
          <th mat-header-cell *matHeaderCellDef> Direccion </th>
          <td mat-cell *matCellDef="let row1"> {{row1.direccion}} </td>
        </ng-container>


        <ng-container matColumnDef="Acciones">
          <th mat-header-cell *matHeaderCellDef> Acciones </th>
          <td mat-cell *matCellDef="let row1">
            <button mat-mini-fab color="warn" matTooltip="Nueva atención" matTooltipPosition="left"
            (click)="open_modal_atenciones(row1)"><mat-icon>notifications</mat-icon></button>
            <button (click)="getClienteByName(row1)" mat-mini-fab color="accent" matTooltip="Detalles del cliente" matTooltipPosition="above"><mat-icon>list</mat-icon></button>
            <button (click)="open_modal_contacto(row1)" mat-mini-fab color="primary" matTooltip="Nuevo contacto" matTooltipPosition="right"><mat-icon>people</mat-icon></button>
            <button  mat-mini-fab color="warn" matTooltip="Historial del suministro" matTooltipPosition="above" (click)="getHistorialCliente(row1)">
              <mat-icon>history</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row1; columns: displayedColumns;"></tr>
      </table>




  </mat-tab>

</mat-tab-group>
